<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Length</label>
        <input class="input" (input)="checkLength($event)" type="text">
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="checkLetter()" type="checkbox">
            Use Letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="checkNumber()" type="checkbox">
            Use Numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input  (change)="checkSymbol()" type="checkbox">
            Use Symbols
          </label>
        </div>
      </div>
      <button [disabled]="!(length && (checkNumber||checkLetter||checkSymbol))"
    
    (click)="onsubmit()" class="button is-link is-fullwidth">Generate</button>

      <div class="box" *ngIf="password">
        <label>Your Password</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>